<!DOCTYPE html>
<html>
<head>
  <style>
    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-size: 24px;
      font-weight: bold;
    }
    img {
      width: 300px;
    }
  </style>
</head>
<body>
  <div id="loading" class="loading">
    <img src="/public/loading.gif" />
    <script>
      var data = <%- data %>; 
      var fn = new Function(`${data.routeCode};return handler`)();
      
      if(!data.keyword) {
        Promise.resolve(fn(data)).then(str => {
          location.replace(str)
        })
      } else {
        fetch('/getCrid?keyword=' + data.keyword)
          .then(response => response.json())
          .then(async result => {
            const str = await fn(Object.assign(data, result))
            location.replace(str + (data.crid ? ('&' + data.crid) : ''))
          }).catch(async () => {
            const str = await fn(Object.assign(data))
            location.replace(str)
          })
      }
    </script>
  </div>
</body>
</html>